<template>
  <div v-if="loading" class="mt-5 d-flex justify-content-center">
    <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
  </div>

  <div class="mt-5" v-else>
    <md-table v-model="filteredPosts" md-sort="id" md-sort-order="desc" md-card md-fixed-header>
      <md-table-toolbar class="floating-header md-accent">
  <!--         <div class="md-toolbar-section-start">
          <h1 class="md-title">Blog posts</h1>
        </div> -->

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input placeholder="Search by title..." v-model="search" />
        </md-field>

        <div class="md-toolbar-section-end">
          <router-link :to="{ name: 'administration-blog-new' }">
            <md-button type="button" class="md-raised md-primary">
              Add new post
            </md-button>
          </router-link>
        </div>
      </md-table-toolbar>

      <md-table-empty-state
        md-label="No posts found"
        :md-description="!emptyPosts || search ? `No post found for this '${search}' query. Try a different search term.` : ''">
      </md-table-empty-state>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
        <md-table-cell md-label="Title" md-sort-by="title">{{ item.title }}</md-table-cell>
        <md-table-cell md-label="Categories" md-sort-by="categories">{{ item.categories }}
  <!--         <span v-for="(category, key) in item.categories">
            <span v-if="key < item.categories.length - 1">{{ category }}, </span>
            <span v-else>{{ category }}</span>
          </span> -->
        </md-table-cell>
        <md-table-cell md-label="Date published" md-sort-by="date_published">{{ item.date_published | moment("DD/MM/YYYY") }}</md-table-cell>
        <md-table-cell md-label="Actions">
          <router-link :to="{ name: 'administration-blog-edit', params: { id: `${item.id}` } }">
            <md-button type="button" class="md-raised md-primary">
              Edit
            </md-button>
          </router-link>
          <router-link :to="{ name: 'administration-blog-edit', params: { id: `${item.id}` } }">
            <md-button type="button" class="md-raised md-accent">
              Visit
            </md-button>
          </router-link>
        </md-table-cell>
      </md-table-row>
    </md-table>
    <md-snackbar :md-active.sync="postSaved">Post saved successfully.</md-snackbar>
  </div>
</template>

<script>
  const toLower = text => {
    return text.toString().toLowerCase()
  }

  const searchByName = (items, term) => {
    return term ? items.filter(item => toLower(item.name).includes(toLower(term))) : items
  }

  export default {
    name: 'Blog',
    data: () => ({
      search: '',
      posts: [],
      filteredPosts: [],
      loading: true,
      postSaved: false,
      emptyPosts: false
    }),
    computed: {
      // filteredPosts: function () {
      //   return this.posts.filter(post => post.title.toLowerCase().includes(this.search.toLowerCase()))
      // }
    },
    mounted () {
      if(this.$route.params.postStatus) {
        this.postSaved = true
        window.setTimeout(() => {
          this.postSaved = false
        }, 3000)
      }

      this.$http.get('get-posts').then(response => {
        this.posts = response && response.body && response.body.data ? response.body.data : []
        if(this.posts.length == 0) this.emptyPosts = true
        this.filteredPosts = this.posts
        this.loading = false
      }, response => {
        this.$swal('There was an error with retrieving the posts.', 'Please try again later, or contact the support', 'info');
      });
    },
    methods: {
      newUser () {
        window.alert('Noop')
      },
      searchOnTable () {
        this.filteredPosts = searchByName(this.posts, this.search)
      }
    }
  }
</script>

<style lang="scss">
  .md-accent {
    .md-field.md-theme-default .md-input::placeholder, 
    .md-field.md-theme-default .md-input::placeholder, 
    .md-field.md-theme-default.md-focused .md-textarea, 
    .md-field.md-theme-default.md-focused .md-textarea, 
    .md-field.md-theme-default.md-has-value .md-input, 
    .md-field.md-theme-default.md-has-value .md-textarea {
      color: #fff;
      -webkit-text-fill-color: #fff;
    }
  }
</style>
<style lang="scss" scoped>
  .md-toolbar.md-theme-default.md-accent {
    background-color: var(--md-theme-default-accent, #757575);
  }
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

<style lang="scss">
  .floating-header {
    // background: linear-gradient(60deg,#ab47bc,#8e24aa);
    // box-shadow: 0 12px 20px -10px rgba(156,39,176,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(156,39,176,.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    color: #fff;
    .md-title {
      color: #fff;
    }
  }
  .md-toolbar {
    width: auto;
    .md-field {
      max-width: 300px;
      margin: 0;
      padding: 0;
      .md-input-action {
        top: 6px;
      }
    }
  }
  .md-table .md-table-content {
    height: auto !important;
    max-height: calc(100vh - 300px) !important;
  }
</style>