<template>
  <div>
    <form novalidate class="md-layout" @submit.prevent="validateUser">
      <md-card class="md-layout-item md-size-60 md-small-size-100">
        <md-card-header data-background-color="purple">
          <div class="md-title">Edit profile</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-50 md-small-size-100">
              <md-field>
                <label>Profile picture</label>
                <md-file v-model="form.profilePic" accept="image/*" />
              </md-field>
            </div>
          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('firstName')">
                <label for="first-name">First Name</label>
                <md-input name="first-name" id="first-name" v-model="form.firstName" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.firstName.required">The first name is required</span>
                <span class="md-error" v-else-if="!$v.form.firstName.minlength">Invalid first name</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('lastName')">
                <label for="last-name">Last Name</label>
                <md-input name="last-name" id="last-name" v-model="form.lastName" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.lastName.required">The last name is required</span>
                <span class="md-error" v-else-if="!$v.form.lastName.minlength">Invalid last name</span>
              </md-field>
            </div>
          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('email')">
                <label for="email">Email</label>
                <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
                <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('phone')">
                <label for="phone">Phone number</label>
                <md-input type="text" id="phone" name="phone" v-model="form.phone" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.phone.required">The phone number is required</span>
                <span class="md-error" v-else-if="!$v.form.phone.maxlength">Invalid phone</span>
              </md-field>
            </div>
          </div>
        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-primary md-raised" :disabled="sending">Save</md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="profileUpdated">{{ message }}</md-snackbar>
    </form>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'

  export default {
    name: 'UserProfile',
    mixins: [validationMixin],
    data: () => ({
      form: {
        firstName: null,
        lastName: null,
        phone: null,
        email: null,
        profilePic: null
      },
      profileUpdated: false,
      sending: false,
      message: null
    }),
    validations: {
      form: {
        firstName: {
          required,
          minLength: minLength(3)
        },
        lastName: {
          required,
          minLength: minLength(3)
        },
        phone: {
          required
        },
        email: {
          required,
          email
        }
      }
    },
    mounted () {
      if(Object.values(this.$auth.user())) {
        this.form.firstName = this.$auth.user().firstName
        this.form.lastName = this.$auth.user().lastName
        this.form.phone = this.$auth.user().phone
        this.form.email = this.$auth.user().email
      } else this.fetchUserData()
    },
    methods: {
      fetchUserData() {
        this.$http.get('profile').then(response => {
          if(response && response.body && response.body.data) {
            this.form.firstName = response.body.data.firstName
            this.form.lastName = response.body.data.lastName
            this.form.phone = response.body.data.phone
            this.form.email = response.body.data.email
          }
        }, response => {
          this.$swal('There was an error retrieving the data.', 'Please try again later, or contact the support', 'info');
        });
      },
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
        this.form.firstName = null
        this.form.lastName = null
        this.form.email = null
      },
      updateProfile () {
        this.sending = true

        this.$http.post('profile', this.form).then(response => {
          console.log(response)
          this.sending = false
          this.$auth.user(response.body.data)
          this.profileUpdated = true
          this.message = response.body.message
        }, response => {
          this.$swal('There was an error with updating your profile.', 'Please try again later, or contact the support', 'info');
        });
      },
      validateUser () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.updateProfile()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
</style>