
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(deeppurple, 600), // The primary color of your application
  accent: md-get-palette-color(indigo, 500), // The accent or secondary color
  theme: 'light'
));

@import "node_modules/vue-material/dist/theme/all"; // Apply the theme