<template>
  <b-container class="login-container">
    <b-row>
      <form novalidate class="md-layout col-md-6 col-12" @submit.prevent="validateForm">
        <md-card class="md-layout-item md-size-100" md-primary>
          <md-progress-bar md-mode="indeterminate" v-if="sending" />
          <md-card-header data-background-color="purple">
            <div class="md-title pt-md-3">
              <img src="img/camera-lens.png" class="img-fluid" />
            </div>
          </md-card-header>

          <md-card-content class="px-md-5">
            <md-field :class="getValidationClass('email')">
              <label for="email">Email</label>
              <md-input type="email" name="email" id="email" v-model="form.body.email" :disabled="sending" />
              <span class="md-error" v-if="!$v.form.body.email.required">The email is required</span>
              <span class="md-error" v-else-if="!$v.form.body.email.email">Invalid email</span>
            </md-field>

            <md-field :class="getValidationClass('password')">
              <label for="password">Password</label>
              <md-input type="password" id="password" name="password" v-model="form.body.password" :disabled="sending" />
              <span class="md-error" v-if="!$v.form.body.password.required">The password is required</span>
              <span class="md-error" v-else-if="!$v.form.body.password.maxlength">Invalid phone</span>
            </md-field>

            <md-checkbox v-model="form.rememberMe" md-primary>Remember Me?</md-checkbox>
          </md-card-content>
          <md-card-actions class="pb-3 px-3 pb-md-4 px-md-4">
            <md-button type="submit" class="md-primary md-raised" :disabled="sending">Log in</md-button>
          </md-card-actions>
        </md-card>
      </form>
    </b-row>
  </b-container>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import {
    email,
    required,
    minLength
  } from 'vuelidate/lib/validators'

  export default {
    name: 'Login',
    mixins: [validationMixin],
    data: () => ({
      form: {
        body: {
          email: null,
          password: null
        },
        rememberMe: false
      },
      fetchUser: true,
      sending: false
    }),
    validations: {
      form: {
        body: {
          email: {
            required,
            email
          },
          password: {
            required,
            minLength: minLength(3)
          }
        }
      }
    },
    mounted () {
      // console.log(this.$auth.redirect());
    },
    methods: {
      getValidationClass (fieldName) {
        const field = this.$v.form.body[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
        this.form.email = null
        this.form.password = null
      },
      submitForm () {
        this.sending = true
        var redirect = this.$auth.redirect();

        this.$auth.login({
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
          },
          body: this.form.body,
          rememberMe: this.form.rememberMe,
          redirect: {name: redirect ? redirect.from.name : 'administration'},
          fetchUser: this.fetchUser
        })
        .then((res) => {
          console.log(res);
        }, (res) => {
          console.log(res);
          this.error = res.data;
        });

        // Instead of this timeout, here you can call your API
        window.setTimeout(() => {
          this.sending = false
          this.clearForm()
        }, 1500)
      },
      validateForm () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.submitForm()
        }
      }
    }
  }
</script>

<style lang="scss">
  .page-container {
    background-image: url('../../../../img/login-background.jpg');
  }
</style>

<style lang="scss" scoped>
  .login-container .row {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .md-card {
    background: rgba(0, 0, 0, .47);
    color: #fff;
    .md-field {
      label {
        color: #fff;
      }
      &.md-has-value .md-input,
      &.md-focused .md-input {
        // color: rgba(255, 255, 255, .8);
        // -webkit-text-fill-color: rgba(255, 255, 255, .8);
      }
    }
    .md-title {
      text-align: center;
      img {
        opacity: .7;
      }
    }
  }
</style>