<template>
  <div class="page-container">
    <!-- <md-app> -->
      <!-- <md-app-content> -->
        <router-view v-if="$auth.ready()" :logout="logout"></router-view>
        <div v-else>Loading...</div>
      <!-- </md-app-content> -->
    <!-- </md-app> -->
  </div>
</template>

<script>
  export default {
    name: 'App',
    data: () => ({
      menuVisible: true
    }),
    created () {
      this.$auth.ready(() => console.log('ready'));
    },
    methods: {
      toggleMenu () {
        this.menuVisible = !this.menuVisible
      },
      logout() {
        this.$auth.logout({
          makeRequest: true,
          success() {
            console.log('success ' + this.context);
          },
          error() {
            console.log('error ' + this.context);
          }
        });
      },
      unimpersonate() {
        this.$auth.unimpersonate({
          success() {
            console.log('success ' + this.context);
          },
          error() {
            console.log('error ' + this.context);
          }
        });
      }
    },
  }
</script>

<style lang="scss">
  body {
    background-color: #eee;
  }
</style>