<template>
  <div v-if="loading" class="mt-5 d-flex justify-content-center">
    <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
  </div>

  <div v-else>
    <md-tabs :md-dynamic-height="true">
      <md-tab id="tab-blog-form" md-label="Form">
        <form novalidate class="md-layout" @submit.prevent="validatePost">
          <md-card class="md-layout-item md-size-50 md-small-size-100">
            <md-card-header>
              <md-switch class="custom-visibility-switch" v-model="form.visible" md-primary>{{ form.visible ? 'Visible' : 'Hidden'}}</md-switch>
            </md-card-header>

            <md-card-content>
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('title')">
                    <label for="title">Title</label>
                    <md-input type="title" name="title" id="title" v-model="form.title" :disabled="sending" />
                    <span class="md-error" v-if="!$v.form.title.required">The title is required</span>
                    <span class="md-error" v-else-if="!$v.form.title.minlength">Invalid title</span>
                  </md-field>

                  <md-field :class="getValidationClass('slug')">
                    <label for="slug">Slug</label>
                    <md-input type="slug" name="slug" id="slug" v-model="form.slug" :disabled="sending" />
                    <span class="md-error" v-if="!$v.form.slug.required">The slug is required</span>
                    <span class="md-error" v-else-if="!$v.form.slug.minlength">Invalid slug</span>
                  </md-field>

                  <md-datepicker :class="getValidationClass('datePublished')" name="datePublished" id="datePublished" v-model="form.datePublished" :disabled="sending">
                    <label for="datePublished">Publish date</label>
                    <span class="md-error" v-if="!$v.form.datePublished.required">The publish date is required</span>
                  </md-datepicker>

                  <md-chips class="md-primary shake-on-error" :class="getValidationClass('categories')" v-model="form.categories" :disabled="sending" md-placeholder="Add category...">
                    <div class="md-helper-text">Press enter to select</div>
                    <span class="md-error" v-if="!$v.form.categories.required">The category is required</span>
                    <span class="md-error" v-else-if="!$v.form.categories.minlength">Invalid categories</span>
                  </md-chips>

                  <vue-editor class="mt-5 pt-3 mb-3" :class="getValidationClass('content')" v-model="form.content" :editorToolbar="fullToolbar" name="content" id="content" :disabled="sending" md-placeholder="Type content"></vue-editor>
                </div>
              </div>
            </md-card-content>

            <md-progress-bar md-mode="indeterminate" v-if="sending" />

            <md-card-actions>
              <md-button type="submit" class="md-primary" :disabled="sending">Create post</md-button>
            </md-card-actions>
          </md-card>

        </form>
      </md-tab>
      <md-tab id="tab-blog-preview" md-label="Preview">
        <md-card class="md-layout-item md-size-100 preview-card" v-html="form.content"></md-card>
      </md-tab>
    </md-tabs>
  </div>
</template>

<script>
  const slugify = text => {
    return text.toString().toLowerCase()
      .replace(/\s+/g, '-')           // Replace spaces with -
      .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
      .replace(/\-\-+/g, '-')         // Replace multiple - with single -
      .replace(/^-+/, '')             // Trim - from start of text
      .replace(/-+$/, '');            // Trim - from end of text
  }

  import { VueEditor } from 'vue2-editor'
  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'

  export default {
    name: 'Post',
    mixins: [validationMixin],
    components: {
      VueEditor
    },
    data: () => ({
      form: {
        title: null,
        slug: null,
        datePublished: null,
        visible: true,
        categories: [],
        content: null,
      },
      loading: true,
      sending: false,
      // postSaved: false,
      // message: null,
      fullToolbar: [
        //[{ font: [] }],

        [{ header: [false, 1, 2, 3, 4, 5, 6] }],

        [{ size: ["small", false, "large", "huge"] }],

        ["bold", "italic", "underline", "strike"],

        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" }
        ],

        [{ header: 1 }, { header: 2 }],

        ["blockquote", "code-block"],

        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],

        [{ script: "sub" }, { script: "super" }],

        [{ indent: "-1" }, { indent: "+1" }],

        [{ color: [] }, { background: [] }],

        ["link", "image", "video", "formula"],

        [{ direction: "rtl" }],

        ["clean"]
      ]
    }),
    validations: {
      form: {
        title: {
          required,
          minLength: minLength(3)
        },
        slug: {
          required,
          minLength: minLength(3)
        },
        // visible: {
        //   required,
        // },
        categories: {
          required,
          minLength: minLength(1)
        },
        datePublished: {
          required
        },
        content: {
          required
        }
      }
    },
    mounted () {
      if(this.$route.params.id) {
        this.$http.get('blog/' + this.$route.params.id).then(response => {
          if(response && response.body && response.body.status == 'success') {
            this.form.title = response.body.data.title
            this.form.slug = response.body.data.slug
            this.form.datePublished = this.$moment(response.body.data.date_published).format('YYYY-MM-DD')
            this.form.visible = response.body.data.visible
            this.form.categories = response.body.data.categories
            this.form.content = response.body.data.content

            this.loading = false
          } else this.$swal('There was an error with retrieving the post.', 'Please try again later, or contact the support', 'info');
        }, response => {
          console.log(response)
          this.$swal('There was an error with retrieving the post.', 'Please try again later, or contact the support', 'info');
          this.loading = false
        });
      } else this.loading = false
    },
    watch: {
      'form.title': function(newVal, oldVal) {
        this.form.slug = newVal ? slugify(newVal) : null
      }
    },
    methods: {
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
        this.form.title = null
        this.form.slug = null
        this.form.datePublished = null
        this.form.visible = true
        this.form.categories = []
        this.form.content = null
      },
      savePost () {
        this.sending = true
        this.$http.post('blog/new', this.form).then(response => {
          console.log(response)
          if(response && response.body && response.body.status == 'success') {
            this.sending = false
            this.clearForm()
            this.$router.push({ name: 'administration-blog', params: { postStatus: response.body.action } })
          }
        }, response => {
          console.log(response)
          this.$swal('There was an error with posting the new article.', 'Please try again later, or contact the support', 'info');
        });
      },
      validatePost () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.savePost()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .preview-card {
    min-height: 75vh;
  }
</style>
<style lang="scss">
  .md-content.md-tabs-content.md-theme-default {
    height: auto !important;
  }
  .custom-visibility-switch {
    margin: 0;
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: row-reverse;
    label.md-switch-label {
      padding-right: 16px !important;
    }
  }
</style>

<style lang="scss" scoped>
.shake-on-error /deep/ .md-duplicated {
  animation-name: shake;
  animation-duration: 0.5s;
}

@keyframes shake {
  0% { transform: translate(15px); }
  20% { transform: translate(-15px); }
  40% { transform: translate(7px); }
  60% { transform: translate(-7px); }
  80% { transform: translate(3px); }
  100% { transform: translate(0px); }
}
</style>

<style lang="css" scoped>
.pulse-on-error >>> .md-duplicated {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out
}

@keyframes pulse {
  0% { transform: scale(1.1, 1.1); }
  100% { transform: scale(0.9, 0.9); }
}
</style>