<template>
  <md-app>
    <md-app-toolbar class="md-primary">
      <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-title">{{ $route.meta.title }}</span>
    </md-app-toolbar>

    <md-app-drawer :md-active.sync="menuVisible" md-persistent="full" class="md-elevation-12">
      <md-toolbar class="md-transparent" md-elevation="0">
        <span class="drawer-logo">Znaor Photography</span>
        <div class="md-toolbar-section-end">
          <md-button class="md-icon-button md-dense" @click="toggleMenu">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-list>
        <router-link tag="md-list-item" :to="{ name: 'administration' }" active-class="active" exact="exact">
          <md-icon>dashboard</md-icon>
          <span class="md-list-item-text">Dashboard</span>
        </router-link>

        <router-link tag="md-list-item" :to="{ name: 'administration-profile' }" active-class="active" exact="exact">
          <md-icon>person</md-icon>
          <span class="md-list-item-text">User Profile</span>
        </router-link>

        <router-link tag="md-list-item" :to="{ name: 'administration-blog' }" active-class="active">
          <md-icon>library_books</md-icon>
          <span class="md-list-item-text">Blog posts</span>
        </router-link>

        <md-list-item @click="logout">
          <md-icon>power_settings_new</md-icon>
            <span class="md-list-item-text">Log Out</span>
        </md-list-item>

  <!--           <router-link tag="md-list-item" :to="{ name: 'administration-gallery' }" active-class="active" exact="exact">
          <md-icon>image</md-icon>
          <span class="md-list-item-text">Gallery</span>
        </router-link> -->

      </md-list>
    </md-app-drawer>

    <md-app-content>
      <router-view></router-view>
    </md-app-content>
  </md-app>
</template>

<script>
  export default {
    name: 'Dashboard',
    props: ['logout'],
    data: () => ({
      menuVisible: true
    }),
    mounted () {
      // console.log(this.$auth.user());
    },
    methods: {
      toggleMenu () {
        this.menuVisible = !this.menuVisible
      }
    }
  }
</script>

<style lang="scss">
  body {
    background-color: #eee;
  }
</style>

<style lang="scss">
  .md-app {
    min-height: 100vh;
    border: 1px solid rgba(#000, .12);
  }

  .md-app-scroller {
    // margin-top: 40px;
  }

   // Demo purposes only
  .md-drawer {
    background: #fff;
    width: 250px;
    max-width: calc(100vw - 250px);
  }

  .drawer-logo {
    color: #333;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .md-list-item-content {
    padding: 10px 15px;
    .md-icon:first-child {
      margin-right: 15px;
    }
  }

  .md-list-item-text {

  }

  .md-list-item {
    padding: 10px 15px;

    &.active {
      .md-list-item-button .md-ripple {
        color: #fff;
        background-color: #00bcd4;
        box-shadow: 0 12px 20px -10px rgba(0,188,212,.28), 
                    0 4px 20px 0 rgba(0,0,0,.12), 
                    0 7px 8px -5px rgba(0,188,212,.2);
      }
    }

    .md-list-item-button {
      border-radius: 3px;
      color: #3c4858;
    }
  }
</style>